.table__container table td {
    padding: 1rem 3rem;
}

.table__container table tr:nth-child(even) {
    background-color: #FAFAFA;
}

.table__container table img {
    width: 100px;
    height: auto;
    object-fit: cover;
}