.transaction {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
    align-items: start;
}

.transaction__list {
    border-radius: 4px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 3rem;
    display: grid;
}