body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.content {
    margin: 2rem 5rem;
}


.btn {
    background-color: #00ACEE;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;

}