
.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.popup__overlay .popup__content {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    gap: 1rem;
}
.popup__content-wrapped {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
}
.popup__content .popup__payment {
    /* background-color: red; */
    padding-left: 3rem;
    border-left: 3px solid #ccc;
}

.popup__content .popup__list {
    /* background-color: blue; */
}