.food__content {
    background-color: white;
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}

.food__title {
    color: #9A9A9A;
    margin-bottom: 2rem;
}

.food__content button {
    max-width: 150px;
}

.food__content .food__add {
    margin-bottom: 2rem;
}